a {	
	color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	margin: 20px;
}
p, h1{
	color: white;
	font-family: Georgia;
	font-size: 20;
}
html, body {
	background-image: url("backgroundIMG.jpg");
    height: 800px;
	width: 1000px;
}
#CommentContainer{
	position: relative;
	left: 800px;
	top: -500px;
	width: 800px;
	height: 500px;
}
#CommentShow{
	max-width: 50%;
	max-height: 74%;
	overflow: scroll;
}
#CommentEnter{
	/* ostavi go prazno za sega */
}
#ImageContainer{	
    width: 750px;
    height: 500px;
}

#ImageContainer img {
    max-width: 100%;
    max-height: 100%;
}
#delete-button{
	position: relative;
	float: left;
	border: none;
	transition-duration: 1s;
	border-radius: 50%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#edit-button{
	position: relative;
	float: left;
	border: none;
	transition-duration: 1s;
	border-radius: 50%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#image-styling{
	float: left;
	width: 100px;
	height: 80px;
	padding: 5px;
}
#image-section{
	overflow: scroll;
	border: 2px solid;
  	border-radius: 5px;
	width: 1000px;
	height: 800px;
}
#new-file{
	position: relative;
	left: 1050px;
	top: -825px;
	width: 800px;
	height: 500px;
}