<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/scripts/addingCommentAJAXJquery.js"></script>
    <script src="/static/scripts/deleteCommentAJAX.js"></script>
<body>
<h1>Ceco Zadacha</h1>
<p>Picture 1</p>
<p><a href="{{ url_for('index') }}">Browse other images</a></p>
<div id="ImageContainer">
    <img src="{{ image[1] }}" />
</div>
<div id="CommentContainer">
    <div id="CommentShow">
        {% for comment in comments %}
        <form id="#commentFormId">
            <p id="#commentId"> {{ comment[0] }}
                <button formaction="{{ url_for('delete_comment', pic_id=image[0]) }}" formmethod="POST" value={{ comment[1] }} id="delete-button" name="delete_comment_name">x</button>
                <button formaction="{{ url_for('edit_comment', pic_id=image[0]) }}" formmethod="POST" value={{ comment[1] }} id="edit-button" name="edit_comment">edit</button>
            </p>
        </form>
        {% endfor %}
    </div>
    <div id="CommentEnter">
        <form action="{{ url_for('submit_comment', pic_id=image[0]) }}" method="post">
            <P>Comments:</P>
            <input type="text" name="comment" id="comment" /><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>